html {
    transition: 1s;
    scroll-behavior: smooth;
}

@media all and (max-width: 950px) {
    .code-example-pic {
        height: 150px;
    }

    .container {
        margin: 2px 2px;  
    }
}

@media all and (min-width: 950px) {
    .code-example-pic {
        height: 300px;
    }

    .container {
        margin: 15px auto;  
    }
}

@media all and (max-width: 630px) {
    h1 {
        font-size: 30px;
        padding-bottom: 40px;
    }

    .avatar-pic {
        display: none;    
    }
}

@media all and (max-width: 525px) {
    h1 {
        font-size: 20px;
        padding-bottom: 50px;
    }
}

@media all and (max-width: 450px) {
   
}


body {
    background-color: #84b6f7;
}

.header {
    display: flex;
    justify-content: space-between;
}

/* .menu-container {
    position: relative;
} */

.menu-container {
    width: 150px;
}

.header {
    position: relative;
}

.menu-icon {
    position: absolute;
    top: 10px;
    right: 5px;
}

.menu-icon:hover {
    /* transform: rotate(360deg);*/
    width: 50px;
    transition: 2s; 
}

.menu-nav {
    position: absolute;
    right: 45px;
}

.container {
    max-width: 800px;
    padding: 15px 30px;
    background-color:  #2f2ff0;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #0d0daf;
}

.main {
    padding-top: 70px;
}

h1 {
    color: burlywood;
}

h2 {
    color: #4d4444;
}

h2 {
    padding: 5px 15px;
    background-color: #84b6f7;
    border-radius: 10px;
}

p {
    text-align: justify;
}

a {
    color: #9999fa;
    text-decoration: none;
}

a:hover {
    color:#8686ee;
    text-shadow: 2px 2px 3px #020136;
}

a:visited {
    color:#8686ee;
}

.avatar-pic {
    height: 200px;
    margin-top:10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #0d0daf;
}

.bio {
    display: flex;
    justify-content: center;
    margin: 0 5px;
}

.bio p {
    margin-right: 25px;
}

ul {
    list-style: none;
}

.contacts ul li:before {
    content: '➢';
}

.skills ul li:before {
    content: '✓ ';
}

.code-example ul li:before {
    content: '~ ';
}

.experience ul li {
    list-style-type: circle;
}

.experience ul li:before {
    content: '';
}

p {
    padding: 0 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.logo-pic {
    width: 100px;
    align-self: center;
}

.code {
    font-size: xx-small;
}

.menu-icon:hover {
    cursor: pointer;
}

.hidden-nav {
    display: none;
}


/* .menu-nav {
    display: none;
} */

/* .menu-icon:hover ~ .menu-nav{
    display: block;
    transition: 1s;
} */

.menu-nav .menu-ul li a:hover {
    color:#0d0daf;
    text-shadow: 10px 5px 5px #cfcff1 ;
}